* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Roboto, sans-serif, arial;
  scroll-behavior: smooth;
  font-weight: normal;
  max-width: 100%;
}
html,
body {
  font-size: 14px;
  font-weight: 400;
  background: #10002b;
  color: #fff;
}
.container {
  width: 1100px;
  margin: 0px auto;
  display: table;
}
.width-33 {
  width: 33%;
  float: left;
}
.width-25 {
  width: 25%;
  float: left;
}
.width-66 {
  width: 66%;
  float: left;
}
.main-panel {
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 100vh;
  max-width: 100%;
}

.logo {
  font-size: 40px;
  font-weight: 600;
}

.span-col {
  color: #7b2cbf;
}

nav {
  float: right;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  color: white;
}

nav a:hover {
  color: #e0aaff;
  border: none;
  text-shadow: 0 0 5px #e0aaff;
}
.width-50 {
  float: left;
  width: 50%;
}
.photo {
  -webkit-animation: glow 3s linear infinite;
  animation: glow 3s linear infinite;
}
@-webkit-keyframes glow {
  0%,
  100% {
    -webkit-filter: none;
    filter: none;
  }
  50% {
    -webkit-filter: drop-shadow(3mm -2mm 8mm #e0aaff);
    filter: drop-shadow(3mm -2mm 8mm #e0aaff);
  }
}
@keyframes glow {
  0%,
  100% {
    -webkit-filter: none;
    filter: none;
  }
  50% {
    -webkit-filter: drop-shadow(3mm -2mm 8mm #e0aaff);
    filter: drop-shadow(3mm -2mm 8mm #e0aaff);
  }
}
.banner-section {
  width: 100%;
  float: left;
  margin-top: 25vh;
}
.banner-section > span {
  font-size: 30px;
  color: #e0aaff;
}
.banner-section h1 {
  font-size: 48px;
  margin-top: 10px;
  font-weight: bolder;
}
.banner-section h2 {
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  font-weight: 400;
}
.banner-section a {
  float: left;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #7b2cbf;
  color: #7b2cbf;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  line-height: 50px;
}
.banner-section a:hover {
  color: #e0aaff;
  border: 2px solid #e0aaff;
  -webkit-box-shadow: 0 0 5px #e0aaff;
  box-shadow: 0 0 5px #e0aaff;
  text-shadow: 0 0 5px #e0aaff;
}
.resume {
  width: 40%;
  float: left;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: 100px;
  height: 40px;
  padding: 10px;
  background: #7b2cbf;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 20px;
}

.resume:hover {
  -webkit-box-shadow: 0 0 5px #e0aaff;
  box-shadow: 0 0 5px #e0aaff;
  text-shadow: 0 0 5px #e0aaff;
}
.main-panel img {
  margin-top: 3.1%;
  width: 100%;
  margin-left: 10%;
  max-width: 100%;
}
/*ABOUT US SECTION*/
.main-section {
  width: 100%;
  float: left;
  padding: 110px 0px 110px 0px;
}
.width-100 {
  width: 100%;
  float: left;
}
.mt-20 {
  margin-top: 20px;
}
.heading-text {
  width: 100%;
  float: left;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
  color: #7b2cbf;
}
.about-img {
  width: 100%;
  padding: 0px 50px;
  margin-top: 90px;
  -webkit-filter: drop-shadow(3mm -2mm 6mm #8741b0);
  filter: drop-shadow(3mm -2mm 6mm #8741b0);
}
.about-us {
  width: 100%;
  float: left;
  padding: 20px;
}
.about-us p {
  font-size: 16px;
  margin-top: 15px;
  line-height: 27px;
}
table {
  width: 100%;
}
table th,
table td {
  font-size: 12px;
  text-align: left;
  padding: 5px 0px;
}
/*****SKILL SECTION*****/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

h1 {
  font-size: 2.3em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  z-index: 0;
}

.flip {
  position: relative;

  > .front,
  > .back {
    display: block;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
  }
  > .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  &:hover {
    > .front {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    > .back {
      opacity: 1;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
  &.flip-vertical {
    > .back {
      -webkit-transform: rotateX(-180deg);
      transform: rotateX(-180deg);
    }
    &:hover {
      > .front {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }
      > .back {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
    }
  }
}

.flip {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-left: 50px;
  margin-right: 0.1em;
  margin-bottom: 1em;
  width: 300px;
  > .front,
  > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    background: #5a189a;
    border-radius: 25px;
    p {
      font-size: 1.2rem;
      line-height: 160%;
      color: #10002b;
    }
  }
}

.text {
  display: -ms-grid;
  display: grid;
  top: 30px;
  border: #262626;
  text-shadow: 0 5px 65px #19181a;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2rem;
  color: #ffffff;
}

/*****EXPERIENCE SECTION*****/
.bg-lightgrey {
  background-color: #1a1a1a;
}
.edu-exp {
  padding: 10px 0px;
  width: 48%;
  margin: 1%;
  float: left;
  padding-left: 10px;
}
.experience-list {
  width: 100%;
  float: left;
  padding: 30px 10px;
  background: #262626;
  margin-bottom: 20px;
}
.experience-list:hover {
  -webkit-transform: scale(103%);
  -ms-transform: scale(103%);
  transform: scale(103%);
}
.container > .edu-exp > .experience-list:hover {
  -webkit-box-shadow: 0 0 25px #e0aaff;
  box-shadow: 0 0 25px #e0aaff;
}
.experience-content {
  width: 100%;
  float: left;
  margin-left: 10px;
}
.experience-content h2 {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px;
}
.experience-content h3 {
  color: #7b2cbf;
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 17px;
}
.experience-content p {
  font-size: 15px;
}
/*TECHSTACK SECTION*/
.gallery {
  width: 100%;
  float: left;
  margin-top: 30px;
}
.gallery img {
  height: 20%;
  width: 50%;
  margin-bottom: 50px;
  margin-left: 50px;
}
.gallery img:hover {
  -webkit-filter: drop-shadow(0 0 6mm #e0aaff);
  filter: drop-shadow(0 0 6mm #e0aaff);
  -webkit-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  transform: rotate(340deg);
}
/*CONTACT US SECTION*/
.contact form {
  width: 50%;
  margin: 0px auto;
}
.contact input,
textarea {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  height: 40px;
  padding: 10px;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
}
.contact textarea {
  height: 80px;
}
.contact button {
  width: 20%;
  float: left;
  margin-bottom: 20px;
  margin-left: 225px;
  height: 40px;
  padding: 10px;
  background: #7b2cbf;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 20px;
}
.contact button:hover {
  background: #5a189a;
}
.contact h3 {
  font-size: 26px;
  text-align: center;
  margin-top: 60px;
  color: #7b2cbf;
}
.contact h4 {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}
.contact p {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
/*****FOOTER SECTION*****/
.footer {
  background-color: #202020;
  padding: 30px 0px 40px 0px;
  width: 100%;
  float: left;
}
.footer-sect {
  color: #b3b3b3;
}
.footer-sect a {
  color: #e0aaff;
  margin-left: 10px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}
.footer-sect a:hover {
  color: #e0aaff;
  text-shadow: 0 0 10px #e0aaff;
}
.social-icon i:hover {
  text-shadow: 0 0 10px #e0aaff;
}
.social-icon a i {
  width: 50px;
  height: 50px;
  border: 2px solid #e0aaff;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #7b2cbf;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #e0aaff;
}
